<div class="input-form" [formGroup]="providerSearchForm">

  <mat-form-field>
    <mat-label>How old are you?</mat-label>
    <input matInput type="text" maxlength="3" inputmode="numeric" required formControlName="age">
  </mat-form-field>

  <mat-form-field>
    <mat-label>What is your Zip Code?</mat-label>
    <input matInput type="text" maxlength="5" inputmode="numeric" required formControlName="zipCode">
  </mat-form-field>

  <mat-form-field class="health-insurance-input">
    <mat-label>Do you have Health Insurance?</mat-label>
    <mat-select formControlName="hasHealthInsurance">
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="search-button" mat-raised-button color="accent" type="button" (click)="onSearch()">
    <strong>Search</strong>
    <mat-icon aria-hidden="true">search</mat-icon>
  </button>

</div>
