<div class="modal-buttons">

  <button i18n="modal pop-up button|Email results to the user"
          mat-raised-button (click)="openEmailResultsDialog()" color="primary" type="button">
    Email Results
    <mat-icon aria-hidden="true">mail</mat-icon>
  </button>

  <button i18n="modal pop-up button|Contact website administrator to add a missing healthcare provider"
          mat-raised-button (click)="openContactUsDialog()" color="primary" type="button">
    Add Missing Provider
    <mat-icon aria-hidden="true">medical_information</mat-icon>
  </button>

</div>
