main {
  background-color: lightyellow;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 75rem;

    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;

    .language-buttons {
      width: 50%;
      display: flex;
      justify-content: space-around;

      button {
        display: flex;
        flex-direction: row-reverse;

        mat-icon {
          display: inline;
          margin-left: .25rem !important;
          margin-right: 0 !important;
        }
      }
    }

    .splash-description {
      width: 75%;
      display: block;
      text-align: center;
      color: #55602c
    }
  }
}

@media screen and (max-width: 900px) {
  main {
    img {
      width: 75%;
      height: 75%;
    }

    .language-buttons {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}



