<main>
  <img src="assets/logo.png" alt="HealthcAR Logo">
  <section>
    <button type="button" (click)="goToProviders('en')">English (EN)</button>
    <button type="button" (click)="goToProviders('es')">Español (ES)</button>
    <button type="button" (click)="goToProviders('mh')">Kajin M̧ajeļ (MH)</button>
  </section>
  <p>We are an <strong>Arkansas based</strong> healthcare database. Our goal is to provide users with <strong>free and
    low-cost</strong> resources for healthcare information and services. We value <strong>patient privacy</strong> and
    collect zero data on patient needs or demographics. </p>
</main>
