<h1 mat-dialog-title>Contact Us</h1>
<div mat-dialog-content [formGroup]="contactForm">

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="text" inputmode="email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput type="text" inputmode="tel" formControlName="phone">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Organization</mat-label>
    <input matInput formControlName="organization">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <textarea matInput formControlName="message" cdkTextareaAutosize></textarea>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
</div>
