// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import "custom-palettes";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in custom-palettes.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//noinspection CssInvalidFunction
$HealthcAR-primary: mat.define-palette($md-orangepalette);
//noinspection CssInvalidFunction
$HealthcAR-accent: mat.define-palette($md-greenpalette);

// The warn palette is optional (defaults to red).
//noinspection CssInvalidFunction
$HealthcAR-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
//noinspection CssInvalidFunction
$HealthcAR-theme: mat.define-light-theme((
  color: (
    primary: $HealthcAR-primary,
    accent: $HealthcAR-accent,
    warn: $HealthcAR-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($HealthcAR-theme);

