/* For use in src/lib/core/theming/_palette.scss */
$md-orangepalette: (
  50 : #fcf6f0,
  100 : #f8e9d9,
  200 : #f3dac0,
  300 : #eecba7,
  400 : #eac094,
  500 : #e6b581,
  600 : #e3ae79,
  700 : #dfa56e,
  800 : #db9d64,
  900 : #d58d51,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe4ce,
  A700 : #ffd5b4,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-greenpalette: (
  50 : #eceee7,
  100 : #d1d5c2,
  200 : #b2b99a,
  300 : #939c71,
  400 : #7b8752,
  500 : #647234,
  600 : #5c6a2f,
  700 : #525f27,
  800 : #485521,
  900 : #364215,
  A100 : #dcff80,
  A200 : #ceff4d,
  A400 : #c0ff1a,
  A700 : #b9ff00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

